<div class="fixed-header">
	<div class="fixed-header-top col-md-12">
		<div class="follow-us col-md-offset-8">
			<span class="follow-us-text">Follow Us:</span>
			<ul class="social-icons">
				<li><a href="#" class="facebook-icon"></a></li>
				<li><a href="#" class="twitter-icon"></a></li>
			</ul>
		</div>
	</div>
	<div class="fixed-header-bottom col-md-12">
		<div class="website-logo-container col-xs-12 col-md-4">
			<span class="website-logo">Place Logo Here</span>	
		</div>
		<div class="navigation-header-container col-xs-12 col-md-8">
			<ul class="nav-list">
				<li><a href="#">HOME</a></li>
				<li><a href="#">OUR STORY</a></li>
				<li><a href="#">CONTACT US</a></li>
				<li><a href="#">BLOGS</a></li>
				<li><a href="#">FAQs</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="background-picture-container">
	
</div>

<div class="video-info-container">
	
</div>