@import "bootstrap-sprockets";
@import "bootstrap";

/* Fixed Header */

/* Fixed Header Top Part */

.container-space{
	width: 100%;
	height: 5px;

}

.fixed-header{
	opacity: 0.8;
	z-index: 5;
	width: 100%;
}
.fixed-header-top{

	color: white;	
	height: 33px;
}

  /* Javascript Added Class */

.sticky{
	position: fixed;
	background-color: black;
}


.follow-us{
	padding: 5px;
	font-weight: bold;
}

.follow-us-text{
	float: left;
}

.social-icons{
	list-style: none;
	padding: 0;
}

.social-icons li{
	float: left;
	margin-left: 5px;
	border-right: 1px solid white;
	padding: 0 10px;;
}

.social-icons li a{
	background-image: url(image_path("sprite-no-repeat.svg"));
	display: inline-block;
}

.facebook-icon{
	width: 24px;
	height: 24px;
	background-position: -59px -54px;
}

.facebook-icon:hover{
	background-position: -84px -54px;
}

.twitter-icon{
	width: 24px;
	height: 24px;
	background-position: 0 -313px;
}

.twitter-icon:hover{
	background-position: -52px -313px;
}

/* Fixed Header Bottom Part */

.fixed-header-bottom{
	clear: both
}

.website-logo-container{
	margin: 0;
	left: 0;
	text-align:center;
	padding: 10px 10px;
}

.website-logo{
	color: white;
}
.navigation-header-container{
}

.navigation-header-container ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-list li{
	float: left;
	display: inline-block;
	padding: 10px 10px;
}

.nav-list li:hover{
	border-bottom: 1px solid white;

}

.nav-list li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

/* Background Picture */

.background-picture-container{
	position: absolute;
	left: 0;
	right: 0;
	height: 720px;
	z-index: -1;

	background: url(image_path("bar.jpg"));
	background-size: cover;
	display: block;
}

/* Video Info */

.video-info-container{
	background-color: #DDD;
	position: relative;
	left: 0;
	right: 0;
	margin-top: 600px;
}

.container-header{
	height: 50px;
}

.container-footer{
	height: 50px;
}

.homepage-video-container{
	height: 315px !important;
	padding-bottom: 350px;
	margin: 0 15px 0px 15px;
}

.text-content-title{
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 15px;
}

.home-page-pictures-container{
	margin-top: 30px;
}

.home-page-pictures-container img{
	width: 200px;
	height: 150px;
}

.home-page-pictures-container > div{
	
}

/* Contact Us Section */

.contact-us-container{
	
}

.contact-us-container p{
	font-size: 1.5em;
}

.contact-us-container h4{
	font-weight: bold;
}

.contact-us-container span{
	color: grey;
}

.img-contact{
	border: none;
	width: 100px;
	height: 75px;
}

/* Main Footer */

html{
	position: relative;
	min-height: 100%;
}

html,body{
	margin: 0;
	padding: 0;
}

.main-page-wrapper{
	margin-bottom: 100px;
}

.main-footer{
	background-color: #AAA;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.main-footer span{
	display: inline;
}
.main-footer ul{
	list-style: none;
	padding: 0;
}

.main-footer ul li{
	display: inline;
}

.main-footer ul li:after{
	margin: 0 10px;
	content: "|";

}

.main-footer ul li:last-of-type:after{
	content: "";
}

.main-footer .row{
	margin: 0 auto;
}

@media only screen and (max-width: 640px){
	.nav-list li{
		font-size: 7px;
	}

	.follow-us-text{
		font-size: 11px;
	}

	.text-content-title{
		font-size: 15px;
	}

	.home-page-pictures-container img{
		
	}

	.main-footer ul{
		font-size: 9px;
	}

	.main-footer .row{
		margin: 0 0 0 0;
	}

	.main-footer ul li:after{
		margin: 0 2px;
	}
}